@media screen and (max-width: 700px) {
    .container {
        max-width: 400px;
        
    }

    .header {
        margin-bottom: 70px;
    }

    .nav {
        display: none;
    }

    .mobile-nav {
        display: block;
        cursor: pointer;
    }

    .h1 {
        font-size: 45px;
    }

    .open {
        font-size: 20px;
    }

    .button-box {
        flex-direction: column;
    }

    .round-button-box {
        margin-top: 20px;
    }

    .interior {
        display: none;
    }

    .all-days {
        margin-right: 0;
    }

    .day-menu {
        text-align: center;
    }

    .dish-box {
        flex-direction: column;
    }

    .hr-line {
        width: auto;
    }

    .about {
        padding-bottom: 80px;
        padding-top: 80px;
    }

    .comment {
        width: 300px;
    }

    .h2 {
        font-size: 32px;
    }

}